<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link
        rel="stylesheet"
        href="{{ SITEURL }}/theme/css/kraken.css"
        type="text/css"
    />
    <link
        rel="stylesheet"
        href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}"
        type="text/css"
    />
    <link
        href="{{ SITEURL }}/{{ FEED }}"
        type="application/atom+xml"
        rel="alternate"
        title="{{ SITENAME }} ATOM Feed"
    />
    {% if FEED_RSS %}
        <link
            href="{{ SITEURL }}/{{ FEED_RSS }}"
            type="application/atom+xml"
            rel="alternate"
            title="{{ SITENAME }} RSS Feed"
        />
    {% endif %}

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <article class="container">
        <h1>
            <a href="{{ SITEURL }}/">/home/{{ SITENAME }}</a>
        </h1>

        <a class="btn btn-green" href="{{ SITEURL }}/">Home</a>
        <a class="btn btn-green" href="{{ SITEURL }}/archives.html">Posts</a>
        {% if categories|length > 1 %}
            <a class=="btn btn-green" href="{{ SITEURL }}/categories.html">Categories</a>
        {% endif %}

        {% if tags|length > 1 %}
            <a class="btn btn-green" href="{{ SITEURL }}/tags.html">Tags</a>
        {% endif %}

        {% for page in PAGES %}
            <a class="btn btn-green" href="{{ SITEURL }}/{{ page.url }}">
                {{ page.title }}
            </a>
        {% endfor %}

        <hr />

        {% block content %}
        {% endblock %}
    </article>

    {% include 'analytics.html' %}

    <script src="{{ SITEURL }}/theme/js/kraken.js"></script>
</body>
</html>
