{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
    <p>Welcome, read my texts.</p>
    <p>$ ls posts/</p>
    {% if articles %}
        <ul>
        {% for article in articles %}
            <li>
                <a
                    href="{{ SITEURL }}/{{ article.url }}"
                    rel="bookmark"
                    title="Permalink to {{ article.title}}"
                >
                    {{ article.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        No posts found.
    {% endif %}
{% endblock content %}
