{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
    <p>Welcome, read my texts or stalk me.</p>
    <div class="row">
        <div class="grid-half">
            <ul>
                <li>
                    <i class="icon-twitter"></i>
                    <a href="https://twitter.com/lurst">
                        Twitter
                    </a>
                </li>
                <li>
                    <i class="icon-github"></i>
                    <a href="https://github.com/lurst">
                        Github
                    </a>
                </li>
            </ul>
        </div>
        <div class="grid-half">
            <ul>
                <li>
                    <i class="icon-linkedin"></i>
                    <a href="https://www.linkedin.com/in/lurst">
                        Linkedin
                    </a>
                </li>
                <li>
                    <i class="icon-stackoverflow"></i>
                    <a href="https://stackoverflow.com/users/36532/lurst">
                        Stackoverflow
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
