{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}
    <p>Welcome, read my texts or stalk me.</p>
    <div class="row">
        <div class="grid-3">
            <ul>
                <li>
                    <i class="icon-twitter"></i>
                    <a href="https://twitter.com/lurst">Twitter</a>
                </li>
                <li>
                    <i class="icon-github"></i>
                    <a href="https://github.com/lurst">Github</a>
                </li>
            </ul>
        </div>
        <div class="grid-3">
            <ul>
                <li>
                    <i class="icon-linkedin"></i>
                    <a href="https://www.linkedin.com/in/lurst">Linkedin</a>
                </li>
                <li>
                    <a href="https://coderwall.com/lurst">Coderwall</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
