html, body {
    height: 100%;
}

body {
    font-size: 20px;
    color: #424242;
    background-color: #fdfdfd;
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Lato', serif;

    width: 98%;
    margin: 0 auto;
    max-width: 800px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: bold;
}

a:active, a:hover {
    color: #73a325;
}

h1, h2, h3, h4, h5 {
    letter-spacing: -0.04em;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1;
    word-wrap: break-word;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}

h4, h5 {
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid #f0f0f0;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    text-transform: uppercase;
}

.header,
.nav,
.footer {
    text-align: center;
    padding: 40px 80%;
    margin: 0 -80%;
}

.header h1 {
    margin: 0;
}

.nav {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 0;
    padding-bottom: 0;
}

.nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

.content {
    padding: 40px 0;
    min-height: 500px;
}

.footer {
    border-top: 1px solid #f0f0f0;
    font-size: 0.6em;
}

.post-title {
    text-align: left;
}

.post-title a {
    text-decoration: none;
}

p, li {
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01rem;
}

pre {
    display: block;
    padding: 1em;
    margin: 0 0 1em;
    line-height: 1.3em;
    font-size: 1rem;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.post-footer {
    overflow: auto;
}

.post-footer a {
    max-width: 50%;
}

.post-footer .next {
    float: right;
}

.post-footer .previous {
    float: left;
}

.comments-description {
    font-size: .8rem;
    font-style: italic;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
