@import url("pygment.css");

/* BEGIN ICOMOON */

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e600";
    color: #41b7d8;
}
.icon-github:before {
    content: "\e601";
}

.icon-linkedin:before {
    content: "\e602";
    color: #0073b2;
}

.icon-stackoverflow:before {
    content: "\e603";
}

.icon-console:before {
    content: "\e604";
}

.icon-stats:before {
    content: "\e605";
}

.icon-book:before {
    content: "\e606";
}

.icon-bubbles:before {
    content: "\e607";
}

/* END ICOMOON */

@font-face {
    font-family: 'ClearSans';
    src:url('fonts/ClearSans-Regular.eot');
    src:url('fonts/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/ClearSans-Regular.woff') format('woff'),
    url('fonts/ClearSans-Regular.ttf') format('truetype'),
    url('fonts/ClearSans-Regular.svg#ClearSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "ClearSans", sans;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}

pre {
    background-color: #333;
    font-size: 0.8em;
    overflow: auto;
    padding: 10px;
}

a {
    color: #7AB317;
}

a:hover {
    color: #026F1F;
    text-decoration: none;
}

.btn a {
    color: white;
}

.btn-green {
    background-color: #7AB317;
    border-color: #7AB317;
}

.btn-green:hover,
a .btn-green:hover {
    background-color: #026F1F;
    border-color: #026F1F;
}

time {
    font-size: 60%;
}

.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
