<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>

    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="{{ site.baseurl }}assets/img/lumbercoder-16.png" />

    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/normalize.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/pygments.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css" />
</head>
<body>
    <div class="wrapper">

        <header class="header">
            <h1><img src="{{ site.baseurl }}assets/img/lumbercoder-64.png" />{{ site.title }}</h1>
        </header>

        <nav class="nav">
            {% assign sorted_pages = site.pages | sort:"name" %}
            {% for site_page in sorted_pages %}
                <a
                    href="{{ site_page.url }}"
                    {% if site_page.url == page.url %}
                        class="active"
                    {% endif %}
                >
                    {{ site_page.title }}
                </a>
            {% endfor %}
        </nav>

        <section class="content">
            <div class="inner">
                {{ content }}
            </div>
        </section>

        <footer class="footer">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" />
            </a>

            <br />

            <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Lumbercoder</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://lumbercoder.com" property="cc:attributionName" rel="cc:attributionURL">Gil Goncalves</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </footer>
    </div>

    {% include google_analytics.html %}

    {% include github_ribbon.html %}
</body>
</html>
