---
layout: base
meta_description: true
---

<div class="post-title">
    <h2>
        {{ page.title }}
    </h2>
</div>

<div class="post-content">
    {{ content }}

    <p>
        <i>
            All my posts are open source, if you find a problem with this post, edit it on <a href="https://github.com/lurst/lurst.github.com/blob/master/{{ page.path }}">github</a>
        </i>
    </p>
</div>

<hr />

<div class="post-footer">
    {% if page.previous %}
     <a
        href="{{ page.previous.url }}"
        class="previous"
    >
        ❮ {{ page.previous.title }}
    </a>
    {% endif %}

    {% if page.next %}
    <a
        href="{{ page.next.url }}"
        class="next"
    >
        {{ page.next.title }} ❯
    </a>
    {% endif %}
</div>
